@import "tailwindcss";

@font-face {
  font-family: "Yeakn";
  src: url("/fonts/yekan/YekanBakhFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yeakn";
  src: url("/fonts/yekan/YekanBakhFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Yeakn", system-ui, sans-serif;
}

@theme {
  --color-base: oklch(96.83% 0.0053 286.3);
  --color-aqua-haze: oklch(97.44% 0.0042 236.5);
  --color-athens-gray: oklch(94.97% 0.0027 286.3);
  --color-cerulean: oklch(68.38% 0.1457 236.6);
  --color-carnation: oklch(66.17% 0.1951 16.7);
  --color-manatee: oklch(66.86% 0.0132 281);
  --color-abbey: oklch(42.68% 0.0131 285.8);
  --color-pattens-blue: oklch(95.14% 0.025 236.8);
  --color-hummingbird: oklch(96.13% 0.0401 157.8);
  --color-shamrock: oklch(76.94% 0.1907 151.7);
  --color-shark: oklch(27.39% 0.0055 286);
  --color-ship-gray: oklch(38.51% 0.0101 285.9);
  --color-jumbo: oklch(56.95% 0.0168 285.9);
  --color-french-gray: oklch(78.99% 0.0085 278.6);

  --font-yekan: "Yekan", "sens-serif";

  --shadow-nav: 0px 6px 18px rgba(105, 121, 128, 0.025),
    0px 2px 6px rgba(105, 121, 128, 0.04);
  --shadow-help: -6px 12px 30px rgba(16, 165, 231, 0.18),
    -4px 8px 32px rgba(0, 0, 0, 0.08);
  --shadow-toggle: -6px 12px 30px rgba(16, 165, 231, 0.18),
    -4px 8px 32px rgba(0, 0, 0, 0.08);
}

@layer base {
  body {
    @apply font-yekan flex flex-col min-h-dvh;
  }
  #root {
    @apply flex flex-col flex-1;
  }
}
